svg {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
}

#container > #banner {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    padding: 0 0 22% 0;
    margin: 0 0 30px 0;
    overflow: hidden;
}

#container > #banner > #svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#container > #banner > #svg > #pared_lateral,
#container > #banner > #svg > #pared_fondo {
    fill: rgb(239, 235, 224);
    stroke: rgb(136, 129, 111);
    stroke-width: 2;
}

#container > #banner > #svg > #pizarra,
#container > #banner > #svg > #pizarra_marco,
#container > #banner > #svg > #pizarra_fondo,
#container > #banner > #svg > #papel_relleno_1,
#container > #banner > #svg > #papel_relleno_2,
#container > #banner > #svg > #papel_relleno_3,
#container > #banner > #svg > #papel_relleno_4,
#container > #banner > #svg > #papel_relleno_5,
#container > #banner > #svg > #papel_contorno_1,
#container > #banner > #svg > #papel_contorno_2,
#container > #banner > #svg > #papel_contorno_3,
#container > #banner > #svg > #papel_contorno_4,
#container > #banner > #svg > #papel_contorno_5 {
    transition: fill 0.3s linear;
}

#container > #banner > #svg > #pizarra {
    fill: rgb(136, 129, 111);
}

#container > #banner > #svg > #pizarra_marco {
    fill: rgb(163, 156, 140);
}

#container > #banner > #svg > #pizarra_fondo {
    fill: rgb(255, 251, 242);
}

#container > #banner > #svg > #papel_relleno_1,
#container > #banner > #svg > #papel_relleno_2,
#container > #banner > #svg > #papel_relleno_3,
#container > #banner > #svg > #papel_relleno_4,
#container > #banner > #svg > #papel_relleno_5 {
    fill: rgb(239, 235, 224);
}

#container > #banner > #svg > #papel_contorno_1,
#container > #banner > #svg > #papel_contorno_2,
#container > #banner > #svg > #papel_contorno_3,
#container > #banner > #svg > #papel_contorno_4,
#container > #banner > #svg > #papel_contorno_5 {
    fill: rgb(136, 129, 111);
}

#container > #banner > #svg > #piso {
    fill: rgb(163, 156, 140);
    stroke: rgb(136, 129, 111);
    stroke-width: 2;
}

#container > #banner > #svg > #contorno {
    fill: transparent;
    stroke: rgb(255, 255, 255);
    stroke-width: 4;
}

#container > #banner > #svg > #mueble,
#container > #banner > #svg > #mueble_caja_tapa_adelante,
#container > #banner > #svg > #mueble_caja_tapa_lateral,
#container > #banner > #svg > #mueble_libro_1,
#container > #banner > #svg > #mueble_libro_2,
#container > #banner > #svg > #mueble_libro_3,
#container > #banner > #svg > #mueble_libro_4,
#container > #banner > #svg > #mueble_libro_5,
#container > #banner > #svg > #mueble_libro_6,
#container > #banner > #svg > #mueble_libro_7,
#container > #banner > #svg > #mueble_libro_8,
#container > #banner > #svg > #mueble_libro_9,
#container > #banner > #svg > #mueble_libro_10,
#container > #banner > #svg > #mueble_libro_11,
#container > #banner > #svg > #mueble_libro_12,
#container > #banner > #svg > #mueble_madera_1,
#container > #banner > #svg > #mueble_madera_2,
#container > #banner > #svg > #mueble_madera_3,
#container > #banner > #svg > #mueble_madera_4,
#container > #banner > #svg > #mueble_madera_5,
#container > #banner > #svg > #mueble_tapa_superior,
#container > #banner > #svg > #mueble_tapa_lateral,
#container > #banner > #svg > #mueble_tapa_adelante {
    transition: fill 0.3s linear;
}

#container > #banner > #svg > #mueble {
    fill: rgb(136, 129, 111);
}

#container > #banner > #svg > #mueble_caja_tapa_adelante,
#container > #banner > #svg > #mueble_caja_tapa_lateral {
    fill: rgb(163, 156, 140);
}

#container > #banner > #svg > #mueble_libro_1,
#container > #banner > #svg > #mueble_libro_2,
#container > #banner > #svg > #mueble_libro_3,
#container > #banner > #svg > #mueble_libro_4,
#container > #banner > #svg > #mueble_libro_5,
#container > #banner > #svg > #mueble_libro_6,
#container > #banner > #svg > #mueble_libro_7,
#container > #banner > #svg > #mueble_libro_8,
#container > #banner > #svg > #mueble_libro_9,
#container > #banner > #svg > #mueble_libro_10,
#container > #banner > #svg > #mueble_libro_11,
#container > #banner > #svg > #mueble_libro_12 {
    fill: rgb(234, 227, 211);
}

#container > #banner > #svg > #mueble_madera_1,
#container > #banner > #svg > #mueble_madera_2,
#container > #banner > #svg > #mueble_madera_3,
#container > #banner > #svg > #mueble_madera_4,
#container > #banner > #svg > #mueble_madera_5,
#container > #banner > #svg > #mueble_tapa_superior,
#container > #banner > #svg > #mueble_tapa_lateral,
#container > #banner > #svg > #mueble_tapa_adelante {
    fill: rgb(201, 194, 176);
    stroke: none;
}

#container > #banner > #svg > #nota_relleno_1,
#container > #banner > #svg > #nota_relleno_2,
#container > #banner > #svg > #nota_relleno_3,
#container > #banner > #svg > #nota_relleno_4,
#container > #banner > #svg > #nota_relleno_5,
#container > #banner > #svg > #nota_relleno_6,
#container > #banner > #svg > #nota_relleno_7,
#container > #banner > #svg > #nota_relleno_8,
#container > #banner > #svg > #nota_relleno_9,
#container > #banner > #svg > #nota_relleno_10,
#container > #banner > #svg > #nota_contorno_1,
#container > #banner > #svg > #nota_contorno_2,
#container > #banner > #svg > #nota_contorno_3,
#container > #banner > #svg > #nota_contorno_4,
#container > #banner > #svg > #nota_contorno_5,
#container > #banner > #svg > #nota_contorno_6,
#container > #banner > #svg > #nota_contorno_7,
#container > #banner > #svg > #nota_contorno_8,
#container > #banner > #svg > #nota_contorno_9,
#container > #banner > #svg > #nota_contorno_10 {
    transition: fill 0.3s linear;
}

#container > #banner > #svg > #nota_relleno_1,
#container > #banner > #svg > #nota_relleno_2,
#container > #banner > #svg > #nota_relleno_3,
#container > #banner > #svg > #nota_relleno_4,
#container > #banner > #svg > #nota_relleno_5,
#container > #banner > #svg > #nota_relleno_6,
#container > #banner > #svg > #nota_relleno_7,
#container > #banner > #svg > #nota_relleno_8,
#container > #banner > #svg > #nota_relleno_9,
#container > #banner > #svg > #nota_relleno_10 {
    fill: rgb(201, 194, 176);
}

#container > #banner > #svg > #nota_contorno_1,
#container > #banner > #svg > #nota_contorno_2,
#container > #banner > #svg > #nota_contorno_3,
#container > #banner > #svg > #nota_contorno_4,
#container > #banner > #svg > #nota_contorno_5,
#container > #banner > #svg > #nota_contorno_6,
#container > #banner > #svg > #nota_contorno_7,
#container > #banner > #svg > #nota_contorno_8,
#container > #banner > #svg > #nota_contorno_9,
#container > #banner > #svg > #nota_contorno_10 {
    fill: rgb(136, 129, 111);
}

#container > #banner > #svg > #cara,
#container > #banner > #svg > #cara_contorno,
#container > #banner > #svg > #pelo,
#container > #banner > #svg > #audifono_derecho_1,
#container > #banner > #svg > #audifono_derecho_2,
#container > #banner > #svg > #audifono_izquierdo_2,
#container > #banner > #svg > #audifono_izquierdo_1,
#container > #banner > #svg > #cuello,
#container > #banner > #svg > #camisa_cuello,
#container > #banner > #svg > #camisa,
#container > #banner > #svg > #audifono_sujetador_derecho_1,
#container > #banner > #svg > #audifono_sujetador_derecho_2,
#container > #banner > #svg > #audifono_sujetador_izquierdo_1,
#container > #banner > #svg > #audifono_sujetador_izquierdo_2 {
    transition: fill 0.3s linear;
}

#container > #banner > #svg > #camisa_cuello,
#container > #banner > #svg > #camisa {
    fill: rgb(179, 172, 153);
}

#container > #banner > #svg > #audifono_derecho_1,
#container > #banner > #svg > #audifono_derecho_2,
#container > #banner > #svg > #audifono_izquierdo_2,
#container > #banner > #svg > #audifono_izquierdo_1,
#container > #banner > #svg > #audifono_sujetador_derecho_1,
#container > #banner > #svg > #audifono_sujetador_derecho_2,
#container > #banner > #svg > #audifono_sujetador_izquierdo_1,
#container > #banner > #svg > #audifono_sujetador_izquierdo_2 {
    fill: rgb(142, 137, 124);
}

#container > #banner > #svg > #cara {
    fill: rgb(196, 189, 171);
}

#container > #banner > #svg > #cuello {
    fill: rgb(196, 189, 171);
}

#container > #banner > #svg > #cara_contorno {
    fill: rgb(136, 129, 111);
}

#container > #banner > #svg > #pelo {
    fill: rgb(142, 137, 124);
}

#container > #banner > #svg > #bolso,
#container > #banner > #svg > #bolso_cubierta,
#container > #banner > #svg > #bolso_correa,
#container > #banner > #svg > #bolso_libro_1,
#container > #banner > #svg > #bolso_libro_2,
#container > #banner > #svg > #bolso_libro_3,
#container > #banner > #svg > #bolso_libro_4,
#container > #banner > #svg > #bolso_libro_5,
#container > #banner > #svg > #bolso_libro_6,
#container > #banner > #svg > #bolso_libro_7,
#container > #banner > #svg > #bolso_libro_8,
#container > #banner > #svg > #bolso_libro_9,
#container > #banner > #svg > #bolso_libro_10,
#container > #banner > #svg > #bolso_libro_11 {
    transition: fill 0.3s linear;
}

#container > #banner > #svg > #bolso {
    fill: rgb(136, 129, 111);
}

#container > #banner > #svg > #bolso_cubierta,
#container > #banner > #svg > #bolso_correa {
    fill: rgb(179, 172, 153);
}

#container > #banner > #svg > #bolso_libro_1,
#container > #banner > #svg > #bolso_libro_2,
#container > #banner > #svg > #bolso_libro_3,
#container > #banner > #svg > #bolso_libro_4,
#container > #banner > #svg > #bolso_libro_5,
#container > #banner > #svg > #bolso_libro_6,
#container > #banner > #svg > #bolso_libro_7,
#container > #banner > #svg > #bolso_libro_8,
#container > #banner > #svg > #bolso_libro_9,
#container > #banner > #svg > #bolso_libro_10,
#container > #banner > #svg > #bolso_libro_11 {
    fill: rgb(234, 227, 211);
}

#container > #banner > #svg > #cama_abajo {
    fill: rgb(136, 129, 111);
}

#container > #banner > #svg > #cama_cobija {
    fill: rgb(247, 240, 222);
    stroke: rgb(136, 129, 111);
    stroke-width: 3;
}

#container > #banner > #svg > #cama_abajo_frente,
#container > #banner > #svg > #cama_abajo_superior {
    fill: rgb(179, 172, 153);
}

#container > #banner > #svg > #mesa_contorno,
#container > #banner > #svg > #mesa_arriba,
#container > #banner > #svg > #mesa_abajo,
#container > #banner > #svg > #mesa_borde,
#container > #banner > #svg > #monitor_marco,
#container > #banner > #svg > #pantalla,
#container > #banner > #svg > #monitor_base,
#container > #banner > #svg > #teclado_contorno,
#container > #banner > #svg > #teclado_relleno,
#container > #banner > #svg > #silla {
    transition: fill 0.3s linear;
}

#container > #banner > #svg > #monitor_marco,
#container > #banner > #svg > #teclado_relleno {
    fill: rgb(142, 137, 124);
}

#container > #banner > #svg > #silla,
#container > #banner > #svg > #pantalla {
    fill: rgb(112, 108, 98);
}

#container > #banner > #svg > #silla {
    stroke: rgb(136, 129, 111);
    stroke-width: 3;
}

#container > #banner > #svg > #monitor_base,
#container > #banner > #svg > #mesa_contorno,
#container > #banner > #svg > #teclado_contorno {
    fill: rgb(136, 129, 111);
}

#container > #banner > #svg > #mesa_arriba,
#container > #banner > #svg > #mesa_borde,
#container > #banner > #svg > #mesa_abajo {
    fill: rgb(179, 172, 153);
}

#container > #banner > #svg > a > #cara_link,
#container > #banner > #svg > a > #mueble_link,
#container > #banner > #svg > a > #notas_link_1,
#container > #banner > #svg > a > #notas_link_2,
#container > #banner > #svg > a > #pizarra_link,
#container > #banner > #svg > a > #bolso_link,
#container > #banner > #svg > a > #computadora_link {
    fill: transparent;
    stroke: transparent;
}
