/*-- Propiedades Individuales de Posts [single] ------------------------------*/

#content > .preview {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 5px 0 30px 0;
    position: relative;
}

#content > .preview > .wrap {
    float: left;
    width: 89%;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
}

#content > .preview > .wrap > .image {
    width: 100%;
    min-height: 100%;
}

#content > .preview > .wrap > .data {
    float: left;
    width: 89%;
    height: 300px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 5px;
}

#content > .preview > .wrap > .data > .bg {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 230px;
    margin: 0;
    padding: 0;
    transition: height 300ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}

#content > .preview > .wrap > .data:hover > .bg {
    height: 160px;
}

#content > .preview > .wrap > .data > .header {
    display: inline-block;
    vertical-align: top;
    width: 98%;
    margin: 0;
    padding: 5px 1%;
    background-color: rgba(239, 235, 224, 0.9);
}

#content > .preview > .wrap > .data > .header > h2 {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 2em;
}

#content > .preview > .wrap > .data > .header > h2 > a {
    text-decoration: none;
    color: rgb(77, 77, 70);
}

#content > .preview > .wrap > .data > .header > h2 > a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#content > .preview > .wrap > .data > .description {
    display: inline-block;
    vertical-align: top;
    width: 98%;
    margin: 0;
    padding: 0 1%;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.3em;
    color: rgb(102, 102, 102);
    background-color: rgba(239, 235, 224, 0.9);
}

#content > .preview > .wrap > .data > .description > strong {
    font-weight: 300;
}

#content > .preview > .wrap > .data > .description > a {
    text-decoration: none;
    color: rgb(26, 188, 156);
    font-weight: 900;
}

#content > .preview > .wrap > .data > .description > a:hover {
    text-decoration: underline;
}

#content > .preview > .wrap > .data > .espacio {
    display: inline-block;
    vertical-align: top;
    width: 98%;
    height: 100px;
    margin: 0;
    padding: 0 1%;
    background-color: rgba(239, 235, 224, 0.9);
}

#content > .preview > .social {
    float: left;
    width: 10%;
    height: 300px;
    margin: 0 0 0 1%;
    padding: 0;
}

#content > .preview > .social > .espacio {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 25px;
}

#content > .preview > .social > .compartidos,
#content > .preview > .social > .comentarios {
    float: left;
    width: 100%;
    height: 70px;
    color: rgb(153, 153, 153);
}

#content > .preview > .social > .compartidos > .n_compartidos,
#content > .preview > .social > .comentarios > .n_comentarios {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 3em;
    text-align: center;
}

#content > .preview > .social > .compartidos > .t_compartidos,
#content > .preview > .social > .comentarios > .t_comentarios {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 0.7em;
    text-align: center;
    text-transform: uppercase;
    word-break: break-word;
}

#content > .preview > .social > .twitter,
#content > .preview > .social > .googleplus,
#content > .preview > .social > .facebook {
    float: left;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

#content > .preview > .social > .twitter > a,
#content > .preview > .social > .googleplus > a,
#content > .preview > .social > .facebook > a {
    display: inline-block;
    font-size: 1.8em;
    font-weight: 300;
    text-align: center;
    line-height: 1em;
    color: rgb(153, 153, 153);
    height: 40px;
    width: 100%;
    margin: 5px 0 0 0;
}

#content > .preview > .social > .twitter > a > .hide,
#content > .preview > .social > .googleplus > a > .hide,
#content > .preview > .social > .facebook > a > .hide {
    display: none;
}

#content > .preview > .social > .twitter > a:hover,
#content > .preview > .social > .googleplus > a:hover,
#content > .preview > .social > .facebook > a:hover {
    color: rgb(102, 102, 102);
}

#content > .preview > .text {
    display: none;
}
