/*-- Resetear todas las propiedades [home, single] -----------------------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a,
a:hover,
a:visited,
a:active {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

img {
    border: 0
}

table,
tr,
td {
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

form {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/*-- Propiedades Generales [home, single] --------------------------------*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    font-weight: 300;
    line-height: 1em;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4 {
    line-height: 1em;
    text-align: left;
    font-weight: 300;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 2.2em;
}

h4 {
    font-size: 1.8em;
}

#container {
    display: inline-block;
    vertical-align: top;
    margin: 0 5%;
    width: 90%;
}


/*-- Header [home, single] -----------------------------------------------*/

#container > header {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border-radius: 0 0 5px 5px;
    background-color: rgb(239, 235, 224);
}

#container > header > #logo {
    float: left;
    width: 7%;
}

#container > header > #logo > a {
    display: block;
    vertical-align: top;
    width: 70px;
    height: 70px;
    margin: 5px auto;
    background-image: url('http://huntingbears.com.ve/static/img/site/sprite.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
}

#container > header > #logo > a > .hide {
    display: none;
}

#container > header > #heading {
    float: left;
    width: 48%;
    height: 70px;
    padding: 5px 0;
}

#container > header > #heading > .title {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

#container > header > #heading > .subtitle,
#container > header > #heading > .author {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    color: rgb(68, 68, 68);
    font-size: 1em;
    line-height: 1.2em;
}

#container > header > nav {
    float: left;
    width: 45%;
}

#container > header > nav > ul {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

#container > header > nav > ul > li {
    float: left;
    margin: 0 1% 0 0;
}

#container > header > nav > ul > li.portafolio {
    width: 32%;
}

#container > header > nav > ul > li.acerca {
    width: 21%;
}

#container > header > nav > ul > li.twitter,
#container > header > nav > ul > li.facebook,
#container > header > nav > ul > li.googleplus,
#container > header > nav > ul > li.rss,
#container > header > nav > ul > li.search {
    width: 8%;
}

#container > header > nav > ul > li > a {
    float: left;
    height: 70px;
    width: 100%;
    margin: 5px 0;
    box-shadow: 0 -6px 0 rgba(255, 255, 255, 0.2) inset, 0 -5px 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.06) inset, 1px 1px 0 rgba(0, 0, 0, 0.06) inset;
    border-radius: 5px;
    background-color: rgb(193, 190, 182);
    background-image: radial-gradient(ellipse closest-side at 50% 50%, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.0));
    transition: background-color 0.4s linear;
}

#container > header > nav > ul > li > a > .hide {
    display: none;
}

#container > header > nav > ul > li > a:active {
    box-shadow: 0 -70px 0 rgba(0, 0, 0, 0.06) inset;
}

#container > header > nav > ul > li.portafolio > a:hover {
    background-color: rgb(255, 177, 61);
}

#container > header > nav > ul > li.acerca > a:hover {
    background-color: rgb(171, 216, 112);
}

#container > header > nav > ul > li.twitter > a:hover {
    background-color: rgb(86, 195, 234);
}

#container > header > nav > ul > li.facebook > a:hover {
    background-color: rgb(114, 157, 204);
}

#container > header > nav > ul > li.googleplus > a:hover {
    background-color: rgb(221, 148, 137);
}

#container > header > nav > ul > li.rss > a:hover {
    background-color: rgb(229, 152, 84);
}

#container > header > nav > ul > li.search > a:hover {
    background-color: rgb(153, 150, 145);
}

#container > header > nav > ul > li.portafolio > a > .sprite,
#container > header > nav > ul > li.acerca > a > .sprite,
#container > header > nav > ul > li.twitter > a > .sprite,
#container > header > nav > ul > li.facebook > a > .sprite,
#container > header > nav > ul > li.googleplus > a > .sprite,
#container > header > nav > ul > li.rss > a > .sprite,
#container > header > nav > ul > li.search > a > .sprite {
    display: block;
    height: 30px;
    margin: 20px auto;
    background-image: url('http://huntingbears.com.ve/static/img/site/sprite.svg');
    background-repeat: no-repeat;
}

#container > header > nav > ul > li.portafolio > a > .sprite {
    width: 170px;
    background-position: -70px 0;
}

#container > header > nav > ul > li.acerca > a > .sprite {
    width: 110px;
    background-position: -70px -30px;
}

#container > header > nav > ul > li.twitter > a > .sprite,
#container > header > nav > ul > li.facebook > a > .sprite,
#container > header > nav > ul > li.googleplus > a > .sprite,
#container > header > nav > ul > li.rss > a > .sprite,
#container > header > nav > ul > li.search > a > .sprite {
    width: 40px;
}

#container > header > nav > ul > li.twitter > a > .sprite {
    background-position: -500px 0;
}

#container > header > nav > ul > li.facebook > a > .sprite {
    background-position: -540px 0;
}

#container > header > nav > ul > li.googleplus > a > .sprite {
    background-position: -580px 0;
}

#container > header > nav > ul > li.rss > a > .sprite {
    background-position: -620px 0;
}

#container > header > nav > ul > li.search > a > .sprite {
    background-position: -660px 0;
}
