/*
border-radius   |
box-shadow      | http://css3pie.com/about/
linear-gradient |
opacity              | http://css-tricks.com/snippets/css/cross-browser-opacity/
                     | http://lea.verou.me/2009/02/bulletproof-cross-browser-rgba-backgrounds/
background-size      |
background-clip      |
svg (css background) | http://css-tricks.com/svg-fallbacks/
rgba                 | http://css-tricks.com/rgba-browser-support/
rgb bug              | http://css-tricks.com/ie-background-rgb-bug/
media queries        | https://github.com/scottjehl/Respond
text-shadow          | http://heygrady.com/blog/2011/03/10/css-text-shadows-in-internet-explorer/
                     | http://www.useragentman.com/blog/2011/04/14/css3-text-shadow-can-it-be-done-in-ie-without-javascript/
                     | https://github.com/heygrady/textshadow#specifying-custom-css-by-hand
radial-gradient      | http://www.colorzilla.com/gradient-editor/
transition
inline-block         | http://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/
font-awesome
*/

#container > header > #logo > a {
    background-image: url('http://huntingbears.com.ve/static/img/site/sprite.png');
}

#container > header > nav > ul > li.portafolio > a > .sprite,
#container > header > nav > ul > li.acerca > a > .sprite,
#container > header > nav > ul > li.twitter > a > .sprite,
#container > header > nav > ul > li.facebook > a > .sprite,
#container > header > nav > ul > li.googleplus > a > .sprite,
#container > header > nav > ul > li.rss > a > .sprite,
#container > header > nav > ul > li.search > a > .sprite {
    background-image: url('http://huntingbears.com.ve/static/img/site/sprite.png');
    cursor: pointer;
}

#container > header > nav > ul > li.search {
    margin-right: -1%;
}

#container > #banner {
    float: left;
    width: 100%;
    padding: 0 0 22% 0;
    margin: 10px 0 30px 0;
    border-radius: 5px;
    background-image: url('http://huntingbears.com.ve/static/img/site/banner.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#sidebar > ul > .language > .globe > .sprite {
    background-image: url('http://huntingbears.com.ve/static/img/site/sprite.png');
}

#sidebar > ul > .coffee {
    background-image: url('http://huntingbears.com.ve/static/img/site/sprite.png');
}

#sidebar > ul > .list {
    background-image: url('http://huntingbears.com.ve/static/img/site/sprite.png');
}

#content {
    margin-right: -1%;
}

#content > .preview > .data > .bg {
    float: left;
    transition: none;
}

#content > .preview > .data:hover > .bg {
    height: 220px;
}

#content > .preview > .data > .header {
    float: left;
    background-color: rgb(239, 235, 224);
}

#content > .preview > .data > .description {
    float: left;
    background-color: rgb(239, 235, 224);
}

#content > .preview > .social {
    margin-right: -1%;
}

#content > .preview > .social > .twitter > a > .sprite,
#content > .preview > .social > .googleplus > a > .sprite,
#content > .preview > .social > .facebook > a > .sprite {
    background-image: url('http://huntingbears.com.ve/static/img/site/sprite.png');
    cursor: pointer;
}

#content > .preview > .social > .googleplus {
    margin-right: -1%;
}

#content > .post > .social > .twitter > a > .sprite,
#content > .post > .social > .googleplus > a > .sprite,
#content > .post > .social > .pinterest > a > .sprite,
#content > .post > .social > .tumblr > a > .sprite,
#content > .post > .social > .linkedin > a > .sprite,
#content > .post > .social > .facebook > a > .sprite {
    background-image: url('http://huntingbears.com.ve/static/img/site/sprite.png');
    cursor: pointer;
}

#content > .post > .social > .linkedin {
    margin-right: -1%;
}

#content > .post > .text .picasa > .picasa-album > .picasa-image {
    margin: 10px 0.9%;
    padding: 10px 0.9%;
}

#content > .meta > #relatedposts > li {
    margin: 5px 0.9% 5px 0;
}

#content > .meta > #relatedposts > li > a {
    cursor: pointer;
}

#modal-overlay {
    background-color: rgb(255, 255, 255);
}

#modal-close {
    background-image: url('http://huntingbears.com.ve/static/img/site/sprite.png');
    cursor: pointer;
}

#content > .pagination > .right {
    margin-right: -1%;
}

#container > footer > .license > .icon > .sprite,
#container > footer > .info > .icon > .sprite {
    background-image: url('http://huntingbears.com.ve/static/img/site/sprite.png');
}

#container > footer > .license > .text,
#container > footer > .info > .text {
    margin-right: -1%;
}

#container > footer > nav > ul > li {
    margin-left: 0.9%;
    margin-right: 0.9%;
}

#content > .pagination > .left > a > .sprite,
#content > .pagination > .right > a > .sprite {
    background-image: url('http://huntingbears.com.ve/static/img/site/sprite.png');
    cursor: pointer;
}

#behance-boxes > .behance-box > .behance-box-download > .project-explore > .icon > .sprite,
#github-boxes > .github-box > .github-box-download > .repo-download > .icon > .sprite,
#github-boxes > .github-box > .github-box-download > .repo-explore > .icon > .sprite  {
    background-image: url('http://huntingbears.com.ve/static/img/site/sprite.png');
    cursor: pointer;
}

#behance-boxes > .behance-box > .behance-box-header > .behance-stats > .project-appreciations > .icon > .sprite,
#behance-boxes > .behance-box > .behance-box-header > .behance-stats > .project-views > .icon > .sprite,
#github-boxes > .github-box > .github-box-header > .github-stats > .repo-stars > .icon > .sprite,
#github-boxes > .github-box > .github-box-header > .github-stats > .repo-forks > .icon > .sprite {
    background-image: url('http://huntingbears.com.ve/static/img/site/sprite.png');
    cursor: pointer;
}
