#searchbar {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#searchbar.show {
    height: auto;
    margin: 20px 0;
}

#searchbar > .search_input_container {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    background-color: rgb(171, 183, 183);
}

#searchbar > .search_input_container > label {
    display: none;
}

#searchbar > .search_input_container > .search_input {
    display: inline-block;
    vertical-align: top;
    height: 50px;
    width: 96%;
    margin: 10px 1%;
    padding: 5px 1%;
    font-size: 2.5em;
    line-height: 50px;
    color: rgb(77, 77, 70);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

#searchbar > .search_results {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 5px 0 10px 0;
    border-radius: 0 0 10px 10px;
    background-color: rgb(255, 255, 255);
}

#searchbar > .search_results > .search_results_body {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

#searchbar > .search_results > .search_results_body > li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 10px 0;
}

#searchbar > .search_results > .search_results_body > li > a {
    display: inline-block;
    vertical-align: top;
    color: rgb(77, 77, 70);
    width: 100%;
    padding: 0;
    border-radius: 5px;
}

#searchbar > .search_results > .search_results_body > li > a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(226, 230, 227);
}

#searchbar > .search_results > .search_results_body > li > a > .image {
    float: left;
    width: 10%;
    margin: 0 1% 0 0;
    height: 70px;
    border-radius: 5px 0 0 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#searchbar > .search_results > .search_results_body > li > a > .title {
    float: left;
    width: 89%;
    font-size: 2em;
    line-height: 1em;
}

#searchbar > .search_results > .search_results_body > li > a > .description {
    float: left;
    width: 89%;
    font-size: 1em;
    line-height: 1em;
}
