{% include header.html %}
{% include sidebar.html %}
                <main id="content" role="main">
                    {% for post in paginator.posts %}
                    {% capture processed_date %}{{ post.date | date: "%B %-d, %Y" }}{% endcapture %}
                    {% capture escaped_title_twitter %}{{ post.title | prepend: 'Reading "' | append: '"' | url_escape | cgi_escape }}{% endcapture %}
                    {% capture escaped_uri %}{{ site.url | append: post.url | url_escape | cgi_escape }}{% endcapture %}
                    {% if forloop.index == 3 %}
                    <div class="ad_frontpage">
                        <ins class="adsbygoogle" data-ad-client="ca-pub-6592430305679345" data-ad-slot="5791960741" data-ad-format="horizontal"></ins>
                    </div>
                    {% endif %}
                    <article class="preview" id="post-{{ post.article_id }}" itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
                        <ul class="data">
                            <li class="bg"></li>
                            <li class="header">
                                <h2>
                                    <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title='Permanent link to "{{ post.title }}"' itemprop="url">
                                        <span itemprop="headline">
                                            {{ post.title }}
                                        </span>
                                    </a>
                                </h2>
                            </li>
                            <li class="description" itemprop="description">{{ post.description }}
                                Written by <a href="{{ site.url }}/about/" title="About the author" itemprop="author">{{ site.author.first_name }}</a>, on <time class="datetime" datetime="{{ post.date | date_to_xmlschema }}">{{ processed_date }}</time>, in {% for category in post.categories %}{% capture cat_slug %}{{ category | downcase | replace: 'ñ', 'n' | replace: 'á', 'a' | replace: 'é', 'e' | replace: 'í', 'i' | replace: 'ó', 'o' | replace: 'ú', 'u' | replace: ' ', '-' | replace: '.', '' | replace: '/', '' | uri_escape }}{% endcapture %}<a href="{{ site.url }}/cat/{{ cat_slug }}/" title='List all posts under the category "{{ category }}"' rel="tag">{{ category }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}.
                            </li>
                        </ul>
                        <ul class="social">
                            <li class="compartidos">
                                <span class="n_compartidos" data-ident="{{ post.article_id }}">0</span>
                                <span class="t_compartidos">Shares</span>
                            </li>
                            <li class="comentarios">
                                <span class="n_comentarios" data-ident="{{ post.article_id }}">0</span>
                                <span class="t_comentarios">Comments</span>
                            </li>
                            <li class="espacio"></li>
                            <li class="twitter">
                                <a href="http://twitter.com/intent/tweet?counturl={{ escaped_uri }}&amp;lang=es&amp;text={{ escaped_title_twitter }}&amp;url={{ escaped_uri }}&amp;via={{ site.blog.twitter }}&amp;related={{ site.author.twitter }}" title="(abre nueva ventana)" target="_blank" rel="nofollow">
                                    <span class="sprite"></span>
                                    <span class="hide">Twitter</span>
                                </a>
                            </li>
                            <li class="facebook">
                                <a href="http://facebook.com/sharer/sharer.php?u={{ escaped_uri }}" title="(abre nueva ventana)" target="_blank" rel="nofollow">
                                    <span class="sprite"></span>
                                    <span class="hide">Facebook</span>
                                </a>
                            </li>
                            <li class="googleplus">
                                <a href="http://plus.google.com/share?url={{ escaped_uri }}" title="(abre nueva ventana)" target="_blank" rel="nofollow">
                                    <span class="sprite"></span>
                                    <span class="hide">Google+</span>
                                </a>
                            </li>
                        </ul>
                        <div itemprop="articleBody" class="text">
                            {{ post.content | strip_html }}
                        </div>
                    </article>
                    {% endfor %}
                    <nav class="pagination">
                        <span class="left">
                            {% if paginator.previous_page %}
                            {% if paginator.previous_page == 1 %}
                            <a href="{{ site.url }}" title="Frontpage">
                                <span class="sprite"></span>
                                <span class="hide">Frontpage</span>
                            </a>
                            {% else %}
                            <a href="{{ site.url }}/page/{{ paginator.previous_page }}/" title="Previous page">
                                <span class="sprite"></span>
                                <span class="hide">Previous page</span>
                            </a>
                            {% endif %}
                            {% endif %}
                        </span>
                        <span class="spacer">&nbsp;</span>
                        <span class="right">
                            {% if paginator.next_page %}
                            <a href="{{ site.url }}/page/{{ paginator.next_page }}/" title="Next page">
                                <span class="sprite"></span>
                                <span class="hide">Next page</span>
                            </a>
                            {% endif %}
                        </span>
                    </nav>
                </main>
{% include footer.html %}
